{% load static %}
<nav
  x-data="{show:false}"
  @click.outside="document.querySelector('.hamburger').classList.add('hidden')"
  class="sticky z-[200] top-0 border-gray-200 bg-white/20 backdrop-blur-md backdrop-opacity-60 dark:bg-gray-900"
>
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4 backdrop:blur-sm"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="{% static 'img/favicon.png' %}"
        class="h-8"
        alt="Rekomendasi Buku"
      />
      <span
        class="self-center whitespace-nowrap text-sm font-semibold md:text-xl dark:text-white"
        >Rekomendasi Buku</span
      >
    </a>
    <button
      @click="document.querySelector('.hamburger').classList.toggle('hidden')"
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-5 w-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hamburger hidden w-full transition delay-150 ease-in-out md:block md:w-auto"
      id="navbar-default"
    >
      <!-- prettier-ignore -->
      <ul
        class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-inherit md:p-0 rtl:space-x-reverse dark:border-gray-700 dark:bg-gray-800 md:dark:bg-gray-900"
      >
        {% with request.resolver_match.url_name as url_name %}
        
        <li>
          <a
            href="{% url 'daftar-buku' %}"
            class="{% if url_name == 'daftar-buku' %}text-white md:text-blue-700 bg-blue-700{% else %} dark:text-white text-gray-900 {% endif %} block rounded  px-3 py-2 md:bg-transparent md:p-0 "
            aria-current="page"
            >Home</a
          >
        </li>

        <li>
          <a
            href="{% url 'rekomendasi-buku' %}"
            class="{% if url_name == 'rekomendasi-buku' %}text-white md:text-blue-700 bg-blue-700{% else %} dark:text-white text-gray-900 {% endif %} block rounded  px-3 py-2 md:bg-transparent md:p-0 "
            >Rekomendasi Buku</a
          >
        </li>
        <li>
          <a
            href="{% url "ratting-buku" %}"
            class="{% if url_name == 'ratting-buku' %}text-white md:text-blue-700 bg-blue-700{% else %} dark:text-white text-gray-900 {% endif %} block rounded  px-3 py-2 md:bg-transparent md:p-0 "
            >Buku Ratting tinggi</a
          >
        </li>
        
        <li>
          <a
            href="/admin"
            class="{% if url_name == 'admin' %}text-white md:text-blue-700 bg-blue-700{% else %} dark:text-white text-gray-900 {% endif %} block rounded  px-3 py-2 md:bg-transparent md:p-0 "
            >Admin</a
          >
        </li>
        {% endwith %}
      </ul>
    </div>
  </div>
</nav>
